/* General styles */

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
classical-card + classical-card {
  margin-top: 15px;
}

classical-card {
  width: 100%;
}

form {
  margin: 15px;
}

form classical-button {
  float: right;
  margin-top: 15px;
}
